.heroContent {
  display: flex;
  align-items: center;
  padding: 50px 20px;
  background-color: #f5f5f5;
  margin: 0 auto;
  width: 60%;
}

.heroImage {
  max-width: 600px;
  margin-right: 20px;
}

.heroText {
  flex: 1;
}

.heroContent h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.heroContent p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.heroContent button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #f2652a;
  border: none;
  color: white;
  cursor: pointer;
}

.heroContent button:hover {
  background-color: #f47c4a;
}

@media screen and (max-width: 768px) {
  .heroContent {
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .heroImage {
    max-width: 100%;
    margin: 0;
  }

  .heroContent h1 {
    padding: 1rem 0 0 0;
    margin: 0;
  }

  .heroContent p {
    padding: 0 1rem;
  }

  .heroContent button {
    padding: 1.5rem 2rem;
    border-radius: 5px;
    display: block;
    width: 80%;
    margin: 1rem auto;
  }
}
