.moviesContainer {
  text-align: center;
  align-items: center;
  padding: 50px 20px;
  background-color: #f5f5f5;
  margin: 0 auto;
  width: 60%;
}

.moviesContainer h1 {
  cursor: default;
}

.moviesContainer h2 {
  cursor: default;
  margin-bottom: 0;
}

.pagination {
  padding-top: 1rem;
  font-size: 1.2rem;
}

.pagination select {
  font-size: inherit;
  padding: 0.5rem;
  border: 1px solid #f2652a;
  border-radius: 5px;
}

.pagination option:checked {
  background-color: #f2652a;
}
