.navbar {
  display: flex;
  align-items: center;
}
.navbarList {
  display: flex;
}

.navbarList li {
  list-style: none;
  padding: 1rem 2rem;
  cursor: pointer;
  border: 1px solid transparent;
}

.navbarList a {
  text-decoration: none;
  color: inherit;
}

.navbarList li:hover {
  color: #f47c4a;
  border: 1px solid #f2652a;
  border-radius: 5px;
}

.account {
  padding: 1rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.account a {
  text-decoration: none;
  color: inherit;
}

.accountButtonText {
  padding-left: 0.5rem;
}

.account:hover {
  color: #f2652a;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .navbarList {
    max-width: 100%;
    margin: 0 auto;
  }
  .navbarList li {
    padding: 1rem 1.5rem;
  }
}
