.navbar {
  display: flex;
}
.navbarList {
  display: flex;
}

.navbarList li {
  list-style: none;
  padding: 1rem 2rem;
  cursor: pointer;
  border: 1px solid transparent;
}

.navbarList li:hover {
  color: #f2652a;
  border: 1px solid #f47c4a;
  border-radius: 5px;
}

.account {
  padding: 1rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.accountIcon {
  padding-left: 0.5rem;
}

.account:hover {
  color: #f2652a;
}
